@tailwind base;
@tailwind components;
@tailwind utilities;

.outer-scroller-div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.outer-scroller-div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
